body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  color: #000;

  overflow-x: hidden;
}

html {
  display: flex;

  font-size: 100%;
  line-height: 120%;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.navbar-expand-lg .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: .9rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #0762bb;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.introductions {
  min-height: 530px;

  background-color: #28272d;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width: 1023.98px) {
  .introductions {
    background-image: url(../img/calculator-medium.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .introductions {
    background-image: url(../img/calculator.jpg);
  }
}

.introductions-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  padding: 90px 15px 90px;
}

.site-heading {
  margin-bottom: 20px;

  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 300;
  color: #fff;

  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.introductions-description {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #fff;
  text-align: center;

  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

@media (max-width: 575.98px) {
  .introductions-description {
    font-size: 1.2rem;
    line-height: 1.35rem;
  }

  .introductions-content {
    padding: 60px 15px 60px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .introductions-description {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .introductions-content {
    padding: 80px 15px 80px;
  }
}

.introductions-order-link {
  display: block;
  padding: 1.3rem 3rem;
  margin-top: 20px;

  font-size: 1.4rem;
  color: #fff;

  background-color: #0656a4;
  border: 1px solid #212121;
  border-radius: 5px;
}

.introductions-order-link:hover,
.introductions-order-link:focus {
  color: #fff;
  text-decoration: none;

  background-color: #0762bb;
  border-color: #c8c8ce;
  /* box-shadow: 0 0 0 1px #c8c8ce; */
}

.introductions-order-link:active {
  box-shadow: 0 0 0 3px #c8c8ce;
}

.second-level-heading {
  margin-top: 6.25rem;
  margin-bottom: 2.2rem;

  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}


@media (max-width: 575.98px) {
  .second-level-heading {
    font-size: 1.6rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .second-level-heading {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}

.section-list .row {
  margin-bottom: 5rem;
}

.doc-types-item {
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 4.4rem; */
  margin-bottom: 1.25rem;

  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.doc-types-item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;

  background-repeat: no-repeat;
}

.doc-types-local::before {
  background-image: url(../img/calculator.svg)
}

.doc-types-object::before {
  background-image: url(../img/home.svg)
}

.doc-types-journal::before {
  background-image: url(../img/note-1.svg)
}

.doc-types-material::before {
  background-image: url(../img/box1.svg)
}

.doc-types-outgo::before {
  background-image: url(../img/trash.svg)
}

.doc-types-summary::before {
  background-image: url(../img/hammer.svg)
}

.doc-types-defect::before {
  background-image: url(../img/tools.svg)
}

.doc-types-value::before {
  background-image: url(../img/cash.svg)
}

@media (max-width: 991.98px) {
  .doc-types-heading {
    margin-top: 4rem;
  }

  .section-list .row {
    margin-bottom: 0;
  }

  .section-list {
    margin-bottom: 4rem;
  }
}

.software-list {
  background-color: #f9f9f9;
}

.software-list .col-12 {
  min-height: 380px;
}

 .software-list-image {
  background-image: url(../img/monitor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }

.software-list-text {
  padding: 6.25rem 1rem 6.25rem 3.125rem;
}

.software-list-heading {
  margin-bottom: 30px;

  font-size: 2rem;
  line-height: 1.2;
  font-weight: 300;
  color: #0762bb;
}

.software-list ul {
  padding: 0;

  font-size: 1.75rem;
  line-height: 1;
  font-weight: 300;

  list-style: none;
}

@media (max-width: 767.98px) {
  .software-list-image {
    margin-top: 4rem;
  }
}

@media (max-width: 575.98px) {
  .software-list .col-12 {
    min-height: 200px;
  }

  .software-list-text {
    padding: 4rem 1rem 4rem;
  }

  .software-list-heading {
    margin-bottom: 30px;

    font-size: 1.8rem;
    line-height: 1.2;
  }

  .software-list ul {
    font-size: 1.6rem;
  }
}

.services-heading {
  margin-bottom: 3.125rem;
}

.services-item {
  position: relative;
  padding-left: 45px;
  margin-bottom: 1.5rem;

  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.services-item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 32px;
  height: 32px;

  background-image: url(../img/check.svg);
}

@media (max-width: 991.98px) {
  .services-item::before {
    top: -7px;
  }
}

.price {
  background-color: #0762bb;
}

.price-item {
  min-height: 600px;
  padding: 14rem 2.5rem 6.25rem;
}

.price-item-dark {
  background-color: #0656a4;
}

.price-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.price-item-heading {
  position: relative;

  font-size: 1.5rem;
  line-height: 1.1;
  color: #fff;
  text-align: center;
}

.price-item-heading::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -140px;
  left: 50%;

  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.price-heading-local::before {
  background-image: url(../img/calculator-big.svg);
}

.price-heading-correction::before {
  background-image: url(../img/pen.svg);
}

.price-heading-tender::before {
  background-image: url(../img/note-2.svg);
  transform: translateX(-37%);
}

.price-heading-material::before {
  background-image: url(../img/junk.svg);
}

.price-heading-survey::before {
  background-image: url(../img/map.svg);
  transform: translateX(-39%);
}

.price-heading-field::before {
  background-image: url(../img/car.svg);
  transform: translateX(-42%);
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-item-price {
  font-size: 3.125rem;
  font-weight: 700;
  color: #fff;
}

.price-item-unit {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.price-item-btn {
  position: relative;
  display: block;
  padding: 1rem 1.6rem;
  width: 100%;

  color: #fff;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #fff;
  transition: .25s all linear;

  overflow: hidden;
  z-index: 10;
}

.price-item-btn::before,
.price-item-btn::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;

  background-color: #fff;
  transition: .2s all linear;

  z-index: -1;
}

.price-item-btn::before {
  right: 100%;
}

.price-item-btn::after {
  left: 100%;
}

.price-item-btn:hover,
.price-item-btn:focus {
  color: #0762bb;
  text-decoration: none;

  border: 1px solid #fff;
}

.price-item-btn:hover::before,
.price-item-btn:focus::before {
  right: 50%;
}

.price-item-btn:hover::after,
.price-item-btn:focus::after {
  left: 50%;
}

.price-item-btn:active {
  box-shadow: 0 0 0 3px #c0d4e8;
}

.order {
  padding-bottom: 5rem;
  min-height: 750px;

  background-color: #837f7e;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 1023.98px) {
  .order {
    background-image: url(../img/form-calculator-medium.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .order {
    background-image: url(../img/form-calculator.jpg);
  }
}

.order-heading {
  margin: 0;
  padding-top: 6.25rem;
  margin-bottom: 1.3rem;

  color: #fff;
}

@media (max-width: 991.98px) {
  .order {
    padding-bottom: 4rem;
  }
}

.order-description {
  margin-bottom: 1.5rem;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.contacts {
  /* min-height: 130px; */
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #0762bb;
  border-bottom: 30px solid #0656a4;

  box-sizing: content-box;
}

.contacts-list {
  padding: 0;
  padding-left: 35px;
  margin: 0;

  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #fff;

  list-style: none;
}

.contacts-list a {
  color: inherit;
}

.contacts-list li {
  position: relative;
}

.contacts-list li::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -34px;
  top: 2px;

  background-repeat: no-repeat;
}

.contacts-list-company::before {
  background-image: url(../img/users.svg);
}

.contacts-list-phones::before {
  background-image: url(../img/phone.svg);
}

.contacts-list-email::before {
  background-image: url(../img/mail.svg);
}

.module-trigger {
  position: fixed;
  left: -75px;
  top: 60%;
  height: 40px;
  width: 180px;

  transform: rotate(90deg);
}

@media (max-width: 575.98px) {
  .module-trigger {
    display: none;
  }
}

.module-trigger-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 15px;

  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(7, 98, 187, 1);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0);
  transition: .3s all ease;
}

.module-trigger-link:hover,
.module-trigger-link:focus {
  color: #fff;
  text-decoration: none;

  background-color: rgba(6, 86, 164, .8);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
