body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #000000;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 100%;
  line-height: 120%;
}

header,
footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

input:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-60%, 0, 0);
            transform: translate3d(-60%, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translate3d(-60%, 0, 0);
            transform: translate3d(-60%, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(60%, 0, 0);
            transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(60%, 0, 0);
            transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

.visually-hidden:not(:focus) {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 0.9rem;
  color: #000000;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #0762bb;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.introductions {
  min-height: 530px;

  background-color: #28272d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.introductions-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: inherit;
  padding: 90px 15px 90px;
}

.site-heading {
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.introductions-description {
  max-width: 100%;

  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.introductions-order-link {
  display: block;
  margin-top: 20px;
  padding: 1.3rem 3rem;

  font-size: 1.4rem;
  color: #ffffff;

  background-color: #0656a4;
  border: 1px solid #212121;
  border-radius: 5px;
}

.introductions-order-link:hover,
.introductions-order-link:focus {
  color: #ffffff;
  text-decoration: none;

  background-color: #0762bb;
  border-color: #c8c8ce;
}

.introductions-order-link:active {
  -webkit-box-shadow: 0 0 0 3px #c8c8ce;
          box-shadow: 0 0 0 3px #c8c8ce;
}

.second-level-heading {
  margin-top: 6.25rem;
  margin-bottom: 2.2rem;

  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.section-list .row {
  margin-bottom: 5rem;
}

.doc-types-item {
  position: relative;

  margin-bottom: 1.25rem;
  padding-left: 35px;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.doc-types-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
}

.doc-types-local::before {
  background-image: url(../img/calculator.svg);
}

.doc-types-object::before {
  background-image: url(../img/home.svg);
}

.doc-types-journal::before {
  background-image: url(../img/note-1.svg);
}

.doc-types-material::before {
  background-image: url(../img/box1.svg);
}

.doc-types-outgo::before {
  background-image: url(../img/trash.svg);
}

.doc-types-summary::before {
  background-image: url(../img/hammer.svg);
}

.doc-types-defect::before {
  background-image: url(../img/tools.svg);
}

.doc-types-value::before {
  background-image: url(../img/cash.svg);
}

.software-list {
  background-color: #f9f9f9;
}

.software-list .col-12 {
  min-height: 380px;
}

.software-list-image {
  background-image: url(../img/monitor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.software-list-text {
  padding: 6.25rem 1rem 6.25rem 3.125rem;
}

.software-list-heading {
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  color: #0762bb;
}

.software-list ul {
  padding: 0;

  list-style: none;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1;
}

.services-heading {
  margin-bottom: 3.125rem;
}

.services-item {
  position: relative;

  margin-bottom: 1.5rem;
  padding-left: 45px;

  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.services-item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 32px;
  height: 32px;

  background-image: url(../img/check.svg);
}

.price {
  background-color: #0762bb;
}

.price-item {
  min-height: 600px;
  padding: 14rem 2.5rem 6.25rem;
}

.price-item-dark {
  background-color: #0656a4;
}

.price-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.price-item-heading {
  position: relative;

  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
}

.price-item-heading::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;

  width: 100px;
  height: 100px;

  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.price-heading-local::before {
  background-image: url(../img/calculator-big.svg);
}

.price-heading-correction::before {
  background-image: url(../img/pen.svg);
}

.price-heading-tender::before {
  background-image: url(../img/note-2.svg);
  -webkit-transform: translateX(-37%);
      -ms-transform: translateX(-37%);
          transform: translateX(-37%);
}

.price-heading-material::before {
  background-image: url(../img/junk.svg);
}

.price-heading-survey::before {
  background-image: url(../img/map.svg);
  -webkit-transform: translateX(-39%);
      -ms-transform: translateX(-39%);
          transform: translateX(-39%);
}

.price-heading-field::before {
  background-image: url(../img/car.svg);
  -webkit-transform: translateX(-42%);
      -ms-transform: translateX(-42%);
          transform: translateX(-42%);
}

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-item-price {
  font-weight: 700;
  font-size: 3.125rem;
  color: #ffffff;
}

.price-item-unit {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.price-item-btn {
  position: relative;
  z-index: 10;

  display: block;
  width: 100%;
  padding: 1rem 1.6rem;
  overflow: hidden;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #ffffff;

  -webkit-transition: 0.25s color linear;
       -o-transition: 0.25s color linear;
          transition: 0.25s color linear;
}

.price-item-btn::before,
.price-item-btn::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;

  width: 50%;
  height: 100%;

  background-color: #ffffff;

  -webkit-transition: 0.2s all linear;
       -o-transition: 0.2s all linear;
          transition: 0.2s all linear;
}

.price-item-btn::before {
  right: 100%;
}

.price-item-btn::after {
  left: 100%;
}

.price-item-btn:hover,
.price-item-btn:focus {
  color: #0762bb;
  text-decoration: none;
}

.price-item-btn:hover::before,
.price-item-btn:focus::before {
  right: 50%;
}

.price-item-btn:hover::after,
.price-item-btn:focus::after {
  left: 50%;
}

.price-item-btn:active {
  -webkit-box-shadow: 0 0 0 3px #c0d4e8;
          box-shadow: 0 0 0 3px #c0d4e8;
}

.order {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: #837f7e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.order-heading {
  margin: 0;
  margin-bottom: 1.3rem;
  padding-top: 0;

  color: #ffffff;
}

.order-description {
  margin-bottom: 2.2rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.order-form {
  max-width: 800px;
  margin: 0 auto;
}

.order-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-form-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 0.8rem;

  font-weight: 300;
  font-size: 1rem;
  line-height: 1;

  border: none;
}

.order-form-input:focus {
  -webkit-box-shadow: 0 0 5px #0762bb;
          box-shadow: 0 0 5px #0762bb;
}

.order-form-textarea {
  resize: none;
}

.order-form-submit {
  width: 125px;
  min-height: 50px;

  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: rgba(7, 98, 187, 1);
  border: none;

  -webkit-transition: 0.3s all;
       -o-transition: 0.3s all;
          transition: 0.3s all;
}

.order-form-submit:hover,
.order-form-submit:focus {
  background-color: rgba(7, 98, 187, 0.8);
}

.google-recaptcha {
  margin: 0;
  margin-bottom: 15px;
}

.contacts {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #0762bb;
  border-bottom: 30px solid #0656a4;
}

.contacts-list {
  margin: 0;
  padding: 0;
  padding-left: 35px;

  list-style: none;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #ffffff;
}

.contacts-list a {
  color: inherit;
}

.contacts-list li {
  position: relative;
}

.contacts-list li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -34px;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
}

.contacts-list-company::before {
  background-image: url(../img/users.svg);
}

.contacts-list-phones::before {
  background-image: url(../img/phone.svg);
}

.contacts-list-email::before {
  background-image: url(../img/mail.svg);
}

.module-trigger {
  position: fixed;
  top: 60%;
  left: -75px;
  z-index: 100;

  width: 180px;
  height: 40px;

  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.module-trigger-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 1.05rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0);

  background-color: rgba(7, 98, 187, 1);
  -webkit-box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.5);

  -webkit-transition: 0.3s all ease;
       -o-transition: 0.3s all ease;
          transition: 0.3s all ease;
}

.module-trigger-link:hover,
.module-trigger-link:focus {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

  background-color: rgba(6, 86, 164, 0.8);
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.to-top-trigger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;

  width: 64px;
  height: 64px;
  overflow: hidden;

  background-color: rgba(6, 86, 164, 0.8);
  border-radius: 50%;

  -webkit-transition: 0.4s background-color ease;
       -o-transition: 0.4s background-color ease;
          transition: 0.4s background-color ease;
}

.to-top-trigger:hover,
.to-top-trigger:focus {
  background-color: rgba(7, 98, 187, 0.8);
}

.to-top-link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.to-top-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 48px;
  height: 48px;

  background-image: url(../img/arrow-up-circle.svg);
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal.fadeIn {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-open {
  padding-right: 0 !important;
  overflow-y: auto;
}

.modal-content {
  top: 50%;
  left: 50%;

  min-width: 305px;
  max-width: 400px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;

  border-radius: 0;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: #0762bb;
  border-radius: 0;
}

.modal-header h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 300;
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #ffffff;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;

  color: #ffffff;
  text-shadow: none;

  -webkit-transform: scaleY(0.9);
      -ms-transform: scaleY(0.9);
          transform: scaleY(0.9);
  opacity: 1;
}

.close:focus,
.close:hover {
  color: #f9f9f9;
}

.modal-header .close {
  padding: 5px 10px 5px;
}

.modal-body {
  padding: 20px 15px 10px 15px;
}

.modal-body .order-form-input {
  background-color: transparent;
  border: 1px solid #cccccc;
}

.modal-body .order-form-input:focus {
  border: 1px solid transparent;
}

.modal-body .order-form-submit {
  width: 100%;

  font-weight: 700;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;

  display: none;
  width: 300px;
  height: 160px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.5rem;

  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.alert-message {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  padding: 10px 15px 10px 100px;
}

.alert-message::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;

  width: 80px;
  height: 80px;

  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.message-error .alert-message::after,
.message-invalid-captcha .alert-message::after {
  background-image: url(../img/alert-error.svg);
}

.message-sent .alert-message::after {
  background-image: url(../img/alert-check.svg);
}

.alert span {
  text-align: center;
}

@media (min-width: 1024px) {
  .introductions {
    background-image: url(../img/calculator.jpg);
  }

  .order {
    background-image: url(../img/form-calculator.jpg);
  }
}

@media (max-width: 1024px) {
  .introductions {
    background-image: url(../img/calculator-medium.jpg);
  }

  .order {
    background-image: url(../img/form-calculator-medium.jpg);
  }
}

@media (max-width: 992px) {
  .nav-item {
    border-top: 1px dotted #000000;
  }

  .doc-types-heading {
    margin-top: 4rem;
  }

  .section-list .row {
    margin-bottom: 0;
  }

  .section-list {
    margin-bottom: 4rem;
  }

  .services-item::before {
    top: -7px;
  }

  .order {
    padding-bottom: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .introductions-description {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .introductions-content {
    padding: 80px 15px 80px;
  }

  .second-level-heading {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 768px) {
  .software-list-image {
    margin-top: 4rem;
  }
}

@media (max-width: 576px) {
  .introductions-description {
    font-size: 1.2rem;
    line-height: 1.35rem;
  }

  .introductions-content {
    padding: 60px 15px 60px;
  }

  .second-level-heading {
    font-size: 1.6rem;
    line-height: 1.75rem;
  }

  .software-list .col-12 {
    min-height: 200px;
  }

  .software-list-text {
    padding: 4rem 1rem 4rem;
  }

  .software-list-heading {
    margin-bottom: 30px;

    font-size: 1.8rem;
    line-height: 1.2;
  }

  .software-list ul {
    font-size: 1.6rem;
  }

  .module-trigger {
    display: none;
  }
}
